#outer{
  width : 600px;
  height : 400px;
  margin : 0 auto;
  background : LIGHTSALMON;
}
#inner{
  width : 500px;
  height : 200px;
  margin : 100px auto 0;
  background : MEDIUMORCHID;
}
#test{
  width : 600px;
  height : 400px;
  margin : 0 auto;
  background : yellow;
}
